brew "webp"
brew "jpeg-xl"
brew "aom"
brew "glib"
brew "p11-kit"
brew "libarchive"
brew "ffmpeg"
brew "ghostscript"
brew "python@3"
brew "jq"
brew "mas"
brew "nghttp2"
brew "speedtest-cli"
brew "zsh-syntax-highlighting"
brew "zsh-autosuggestions"
cask "skim"
cask "visual-studio-code"
mas "Bitwarden", id: 1352778147
mas "Home Assistant", id: 1099568401
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Microsoft Excel", id: 462058435
mas "Microsoft OneNote", id: 784801555
mas "Microsoft Outlook", id: 985367838
mas "Microsoft PowerPoint", id: 462062816
mas "Microsoft Word", id: 462054704
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "WhatsApp", id: 1147396723
