#!/bin/bash

# -e: exit on error
# -u: exit on unset variables
set -eu

log_color() {
  color_code="$1"
  shift

  printf "\033[${color_code}m%s\033[0m\n" "$*" >&2
}

log_red() {
  log_color "0;31" "$@"
}

log_blue() {
  log_color "0;34" "$@"
}

log_green() {
  log_color '0;32' "$@"
}

log_task() {
  log_blue "🔃" "$@"
}

log_error() {
  log_red "❌" "$@"
}

error() {
  log_error "$@"
  exit 1
}

# check if program exists in PATH
exists()
{
  command -v "$1" >/dev/null 2>&1
}

BW_SERVER=${BW_SERVER:-"https://bitwarden.drazira.ch"}
BW_USER=${BW_USER:-"otmar@outlook.com"}

{{ if eq .chezmoi.os "linux" }}
# TODO: installing bitwarden-cli on linux requires snap so first must make sure snap is installed via pre-requisites  
{{ end }}


{{ if eq .chezmoi.os "darwin" }}
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "bitwarden-cli"
EOF
{{ end }}

# At this point bitwarden-cli should be installed
if ! exists bw; then
  error "bitwarden-cli install failed"
else
  bw config server $BW_SERVER
  export BW_SESSION=$(bw login $BW_USER --raw)
fi

