#!/bin/bash

GREEN='\033[0;32m'

{{ if eq .chezmoi.os "linux" -}}

# Update
sudo apt-get update

# Install system deps
sudo apt install build-essential curl file -y

# Install bitwarden-CLI and logins
#TODO - requires snap apparently...

{{ end -}}

# Let it brew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"

# essentials irrespective of OS (do we really want to use Homebrew on Linux?

brew tap "homebrew/bundle"
brew tap "homebrew/cask"
brew tap "homebrew/core"
brew tap homebrew/cask
brew tap homebrew/cask-versions


{{ if eq .chezmoi.os "darwin" -}}
    brew bundle --no-lock --file=/dev/stdin <<EOF
    brew "git"
    brew "zsh"
    brew "jq"
    brew "bitwarden-cli"
    cask "iterm2"
    cask "slack"
    cask "visual-studio-code"
EOF
{{ end -}}


# Login to bitwarden
bw config server https://drazira.bitwarden.ch
export BW_SESSION=$(bw {unlock} --raw)

# Install oh-my-zsh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

exit

printf "${GREEN}Package install complete\n"
